<div class="modalBookPage" *ngIf="showEditBook.display">
  <div class="modalblack"
       (click)="CloseClick()"
       (mousedown)="CloseClick()"
       (mouseup)="CloseClick()"
  ></div>

  <div class="BookPage">
    <div>
      <button class="close-button"
              (click)="CloseClick()"
              (mousedown)="CloseClick()"
              (mouseup)="CloseClick()"
              aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>Details</h3>
    </div>

    <hr>

    <div class="body">

      <input type="hidden" name="Id" value="{{showEditBook.book.id}}"/>

      <div class="coverWrapper">
        <img class="Cover" src="{{showEditBook.book.cover}}" alt=""/>
      </div>

      <div class="RatingReviewsCount">
        <span class="Rating">Rating: {{showEditBook.book.rating | number:'1.1-1'}}</span>
        <span class="ReviewsCount">Reviews: {{showEditBook.book.reviews.length}}</span>
      </div>

      <div class="Title">{{showEditBook.book.title}}</div>

      <div class="AuthorGenre">
        <span class="Author">{{showEditBook.book.author}}</span>,
        <span class="Genre">{{showEditBook.book.genre}}</span>
      </div>

      <div class="Content">{{showEditBook.book.content}}</div>
    </div>

    <div class="Reviews">
      <div class="review" *ngFor="let review of showEditBook.book.reviews">
        <div class="reviewer">{{review.reviewer}}</div>
        <div class="message">{{review.message}}</div>
      </div>
    </div>

  </div>

</div>
