<div class="modalBookPage" *ngIf="showHideModalBookService.display">

  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true" (click)="CloseClick()">&times;</span>
  </button>

  <div class="BookPage">
    <h3>Details</h3>
    <hr>

    <div class="body">

      <input type="hidden" name="Id" value="{{showHideModalBookService.book.id}}"/>

      <img class="Cover" src="{{showHideModalBookService.book.cover}}" alt=""/>

      <div class="RatingReviewsCount">
        <span class="Rating">Rating: {{showHideModalBookService.book.rating | number:'1.1-1'}}</span>
        <span class="ReviewsCount">Reviews: {{showHideModalBookService.book.reviews.length}}</span>
      </div>

      <div class="Title">{{showHideModalBookService.book.title}}</div>

      <div class="AuthorGenre">
        <span class="Author">{{showHideModalBookService.book.author}}</span>,
        <span class="Genre">{{showHideModalBookService.book.author}}</span>
      </div>

      <div class="Content">{{showHideModalBookService.book.content}}</div>
    </div>

    <div class="Reviews">
      <div class="review" *ngFor="let review of showHideModalBookService.book.reviews">
        <div class="reviewer">{{review.reviewer}}</div>
        <div class="message">{{review.message}}</div>
      </div>
    </div>

  </div>

</div>
