<div class="modalBookPage" hidden>

  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="BookPage">
    <h3>Details</h3>
    <hr>

    <div class="body">
      <input type="hidden" name="Id" value="Id"/>

      <img id="Cover" src="" alt=""/>

      <div class="Rating">Rating</div>
      <div class="ReviewsCount">ReviewsCount</div>

      <div class="Title">Title</div>

      <div class="Author">Author</div>
      <div class="Genre">Genre</div>

      <div class="Content">Content</div>
    </div>

    <hr>
    <div class="Reviews">

    </div>


  </div>

</div>
