<form method="post" enctype="multipart/form-data" class="addBookForm" [formGroup]="bookForm" novalidate>
  <div class="title">Add Book</div>
  <hr/>

  <input type="hidden" name="Id" value="{{showEditBook.bookEdit.id}}" #IdInput required/>

  <div class="body">
    <div class="grid">
      <div>

        <div class="row">
          <span class="name">Cover: </span>
          <div class="coverImgWrapper">
            <img class="coverImg" *ngIf="!showEditBook.bookEdit.cover" src="assets/empty.jpg" alt=""/>
            <img class="coverImg" *ngIf="showEditBook.bookEdit.cover" src="{{showEditBook.bookEdit.cover}}" alt=""/>
          </div>
          <input name="imageUrl" #imageUrl class="imageUrl" type="file" accept="image/*"
                 (change)="handleInputChange($event)" required/>

          <input type="hidden" name="Cover" [(ngModel)]="showEditBook.bookEdit.cover" #coverInput required
                 formControlName="Cover"/>
        </div>

        <div class="row">
          <span class="name">Title: </span>
          <input class="inputText" type="text" placeholder="Title" [(ngModel)]="showEditBook.bookEdit.title"
                 name="Title" #TitleInput required formControlName="Title"/>
        </div>

        <div class="row">
          <span class="name">Genre: </span>
          <input class="inputText" type="text" placeholder="Genre" name="Genre"
                 [(ngModel)]="showEditBook.bookEdit.genre" #GenreInput
                 required formControlName="Genre"/>
        </div>

        <div class="row">
          <span class="name">Author: </span>
          <input class="inputText" type="text" placeholder="Author" name="Author"
                 [(ngModel)]="showEditBook.bookEdit.author" #AuthorInput
                 required formControlName="Author"/>
        </div>

      </div>

      <div>

        <div class="row">
          <span class="name">Content: </span>
          <textarea placeholder="Content" name="Content" [(ngModel)]="showEditBook.bookEdit.content" #ContentInput
                    required formControlName="Content"></textarea>
        </div>

      </div>

    </div>

    <div class="row centre">
      <button class="Edit" (click)="onSubmit()" *ngIf="showEditBook.bookEdit.id">Edit</button>
      <button class="Add" (click)="onSubmit()" *ngIf="!showEditBook.bookEdit.id">Add</button>
      <button class="Clear" (click)="OnClickClear()">Clear</button>
    </div>

  </div>

</form>
